
@{
    ViewBag.Title = "DatosCandidato";
    Layout = "~/Views/Shared/_LayoutSesion.cshtml";
}
    <link href="~/Content/imagenPerfil.css" rel="stylesheet" />
    <style>
        #tabInfoPersonal {
            pointer-events: none;
        }
    </style>

<div id="cargandoDatos" class="row py-5" style="display:none">
    <div class="col-md-5">

    </div>
    <div class="col-md-7">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-border text-warning" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-border text-warning" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<div id="formularioDatos" class="container-fluid py-5" ng-init="ctrl.CargarDatosPrincipales ()" style="display:none">
    <div class="row">
        <div class="col-md-2">            
        </div>
        <div class="col-md-2">            
            <img id="imgCadidato" class="user">
            <label for="cargarFoto" class="fotoPerilCv">Seleccionar Foto para Cv</label>
            <input type="file" id="cargarFoto" multiple accept="image/*" />
            <br />
            <button class="btn btn-info" ng-click="ctrl.cargarFotoPerfilCv()"> <i class="fas fa-upload"></i>  Cargar Imagen </button>
            @*<input type="button" ng-click="ctrl.cargarFotoPerfilCv()" value="Cargar Imagen" />*@
        </div>
        <div class="col-md-8">
            <ul>
                <li>Matrícula: {{ctrl.Matricula}} </li>
                <li>Carrera: {{ctrl.DescCarrera}} </li>
                <li>Áreas de Interes: {{ctrl.AreaInt}} </li>
                <li>Objetivo Profesional: {{ctrl.ObjPersonal}}</li>
            </ul>
        </div>
    </div>

    <div class="row py-2">
        <div class="col-md-2">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Manual de Usuario
                    <span class="">                        
                        <a href="~/Manuales/ManualCandUnach/Manual usuario BTU - Candidato.pdf" target="_blank"><i id="" class="fas fa-file-pdf"></i></a>
                    </span>
                </li>
                <li id="globalInfoPer" class="list-group-item d-flex justify-content-between align-items-center" style="background-color:yellow">
                    Información Personal
                    <span class="badge badge-primary badge-pill">
                        <i id="infper1" style="display:none" class="fas fa-check"></i>
                        <i id="infper2" class="fas fa-exclamation"></i>
                    </span>
                </li>
                <li id="globalEstuAcd" class="list-group-item d-flex justify-content-between align-items-center" style="background-color:yellow">
                    Estudios Académicos
                    <span class="badge badge-primary badge-pill">
                        <i id="estuacad1" style="display:none" class="fas fa-check"></i>
                        <i id="estuacad2" class="fas fa-exclamation"></i>
                    </span>
                </li>
                <li id="globalSoftIdi" class="list-group-item d-flex justify-content-between align-items-center" style="background-color:green">
                    Software / Idiomas
                    <span class="badge badge-primary badge-pill">
                        <i id="softidio1" class="fas fa-check"></i>
                        <i id="softidio2" style="display:none" class="fas fa-exclamation"></i>
                    </span>
                </li>
                <li id="globalExpProf" class="list-group-item d-flex justify-content-between align-items-center" style="background-color:yellow">
                    Experiencia Profesional
                    <span class="badge badge-primary badge-pill">
                        <i id="expprof1" style="display:none" class="fas fa-check"></i>
                        <i id="expprof2" class="fas fa-exclamation"></i>
                    </span>
                </li>
                <li id="globalCurTall" class="list-group-item d-flex justify-content-between align-items-center" style="background-color:green">
                    Cursos / Talleres
                    <span class="badge badge-primary badge-pill">
                        <i id="curtall1" class="fas fa-check"></i>
                        <i id="curtall2" style="display:none" class="fas fa-exclamation"></i>
                    </span>
                </li>
            </ul>
            <br />
            <input id="btnBackPanelCand" type="button" value="Regresar al Panel" class="btn btn-danger py-2" style="display:none" ng-click="ctrl.RegresarPanelCandidato()" />
        </div>
        <div class="col-md-10">
            <ul class="nav nav-tabs" id="tabInfoPersonal" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="infoPersonal-tab" data-toggle="tab" href="#infoPer" role="tab" aria-controls="infoPer" aria-selected="true">Información Personal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="estuAcad-tab" data-toggle="tab" href="#estAcad" role="tab" aria-controls="estudiosAcad" aria-selected="false">Estudios Académicos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="softIdio-tab" data-toggle="tab" href="#softIdio" role="tab" aria-controls="softIdio" aria-selected="false">Software / Idiomas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="expProf-tab" data-toggle="tab" href="#expProf" role="tab" aria-controls="expProf" aria-selected="false">Experiencia Profesional</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="curTall-tab" data-toggle="tab" href="#curTall" role="tab" aria-controls="curTall" aria-selected="false">Cursos / Talleres</a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="infoPer" role="tabpanel" aria-labelledby="home-tab">
                    <form name="myForm">
                        <div class="row">
                            <div class="col-md-6 py-3">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Matricula</span>
                                    </div>
                                    <input ng-model="ctrl.Matricula" id="Matricula" name="Matricula" ng-change="ctrl.GlobalInfoPersonal()" type="text" class="form-control" placeholder="Matricula" aria-label="Matricula" aria-describedby="basic-addon1" style="max-width:100%" required>
                                </div>
                                <span style="color:red" ng-show="myForm.Matricula.$invalid" />
                                <span ng-show="myForm.Matricula.$error.required">*Matricula requerida</span>
                            </div>
                            <div class="col-md-6 py-3">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Nombre(s)</span>
                                    </div>
                                    <input ng-model="ctrl.NombreCandidato" id="NombreCandidato" name="NombreCandidato" ng-change="ctrl.GlobalInfoPersonal()" type="text" class="form-control" placeholder="Nombre(s)" aria-label="Nombre" aria-describedby="basic-addon1" style="max-width:100%" maxlength="100" required>
                                </div>
                                <span style="color:red" ng-show="myForm.NombreCandidato.$invalid" />
                                <span ng-show="myForm.NombreCandidato.$error.required">*Nombre requerido (Max. 100 caracteres)</span>
                            </div>
                            <div class="col-md-6 py-3">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Apellido Paterno</span>
                                    </div>
                                    <input ng-model="ctrl.ApePatCandidato" id="ApePatCandidato" name="ApePatCandidato" ng-change="ctrl.GlobalInfoPersonal()" type="text" class="form-control" placeholder="Apellido Paterno" aria-label="ApellidoPaterno" aria-describedby="basic-addon1" style="max-width:100%" maxlength="100" required>
                                </div>
                                <span style="color:red" ng-show="myForm.ApePatCandidato.$invalid" />
                                <span ng-show="myForm.ApePatCandidato.$error.required">*Apellido Paterno requerido (Max. 100 caracteres)</span>
                            </div>
                            <div class="col-md-6 py-3">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Apellido Materno</span>
                                    </div>
                                    <input ng-model="ctrl.ApeMatCandidato" id="ApeMatCandidato" name="ApeMatCandidato" ng-change="ctrl.GlobalInfoPersonal()" type="text" class="form-control" placeholder="Apellido Materno" aria-label="ApellidoMaterno" aria-describedby="basic-addon1" style="max-width:100%" maxlength="100" required>
                                </div>
                                <span style="color:red" ng-show="myForm.ApeMatCandidato.$invalid" />
                                <span ng-show="myForm.ApeMatCandidato.$error.required">*Apellido Materno requerido (Max. 100 caracteres)</span>
                            </div>
                            <div class="col-md-6 py-3">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Fecha de Nacimiento</span>
                                    </div>
                                    <input ng-model="ctrl.FecNac" id="FecNac" name="FecNac" ng-change="ctrl.GlobalInfoPersonal()" class="form-control" type="date" aria-label="FechaNacimiento" aria-describedby="basic-addon1" style="max-width:100%"  required>
                                </div>
                                <span style="color:red" ng-show="myForm.FecNac.$invalid" />
                                <span ng-show="myForm.FecNac.$error.required">*Fecha de Nacimiento requerida</span>
                            </div>
                            <div class="col-md-6 py-3">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Estado</span>
                                    </div>
                                    <select name="Estado" id="Estado" ng-model="ctrl.Estado" ng-change="ctrl.GlobalInfoPersonal();ctrl.ComboMunicipios()" class="custom-select" ng-options="list.Id as list.Descripcion for list in ctrl.listEstados" ng-click="ctrl.ComboMunicipios()" style="max-width:100%" required></select>
                                </div>
                                <span style="color:red" ng-show="myForm.Estado.$invalid" />
                                <span ng-show="myForm.Estado.$error.required">*Estado requerido</span>
                            </div>
                            <div class="col-md-6 py-2">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Municipio</span>
                                    </div>
                                    <select name="Municipio" id="Municipio" ng-change="ctrl.GlobalInfoPersonal()" ng-model="ctrl.Municipio" class="custom-select" ng-options="list.Id as list.Descripcion for list in ctrl.listMunicipios" style="max-width:100%" required></select>
                                </div>
                                <span style="color:red" ng-show="myForm.Municipio.$invalid" />
                                <span ng-show="myForm.Municipio.$error.required">*Municipio requerido</span>
                            </div>
                            <div class="col-md-12 py-2">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Domicilio</span>
                                    </div>
                                    <input ng-model="ctrl.Domicilio" id="Domicilio" name="Domicilio" type="text" ng-change="ctrl.GlobalInfoPersonal()" class="form-control" placeholder="Domicilio" aria-label="Domicilio" aria-describedby="basic-addon1" style="max-width:100%" maxlength="200" required>
                                </div>
                                <span style="color:red" ng-show="myForm.Domicilio.$invalid" />
                                <span ng-show="myForm.Domicilio.$error.required">*Domicilio requerido (Max. 200 caracteres)</span>
                            </div>
                            <div class="col-md-6 py-2">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Teléfono Celular</span>
                                    </div>
                                    <input ng-model="ctrl.TelCel" id="TelCel" name="TelCel" type="text" ng-change="ctrl.GlobalInfoPersonal()" class="form-control" placeholder="Teléfono Celular" aria-label="TeléfonoCelular" aria-describedby="basic-addon1" style="max-width:100%" maxlength="20" required>
                                </div>
                                <span style="color:red" ng-show="myForm.TelCel.$invalid" />
                                <span ng-show="myForm.TelCel.$error.required">*Teléfono Celular requerido (Max. 20 caracteres)</span>
                            </div>
                            <div class="col-md-6 py-2">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Teléfono Adicional</span>
                                    </div>
                                    <input ng-model="ctrl.TelAd" id="TelAd" name="TelAd" type="text" ng-change="ctrl.GlobalInfoPersonal()" class="form-control" placeholder="Teléfono Adicional" aria-label="TeléfonoAdicional" aria-describedby="basic-addon1" style="max-width:100%" maxlength="20" required>
                                </div>
                                <span style="color:red" ng-show="myForm.TelAd.$invalid" />
                                <span ng-show="myForm.TelAd.$error.required">*Teléfono Adicional requerido (Max. 20 caracteres)</span>
                            </div>
                            <div class="col-md-12 py-2">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">E-mail</span>
                                    </div>
                                    <input ng-model="ctrl.Email" id="Email" name="Email" type="text" ng-change="ctrl.GlobalInfoPersonal()" class="form-control" placeholder="E-mail" aria-label="Email" aria-describedby="basic-addon1" style="max-width:44.5%" maxlength="200" required>
                                </div>
                                <span style="color:red" ng-show="myForm.Email.$invalid" />
                                <span ng-show="myForm.Email.$error.required">*E-mail requerido (Max. 200 caracteres)</span>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <label class="input-group-text" for="radioGender">Genero</label>
                                    <div class="custom-control custom-radio py-2">
                                        <input ng-model="ctrl.Hombre" type="radio" id="radioMale" name="radioGender" class="custom-control-input">
                                        <label class="custom-control-label" for="radioMale">Masculino</label>
                                    </div>
                                    <div class="custom-control custom-radio py-2">
                                        <input ng-model="ctrl.Mujer" type="radio" id="radioFemale" name="radioGender" class="custom-control-input">
                                        <label class="custom-control-label" for="radioFemale">Femenino</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 py-2">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Área de Interes</span>
                                    </div>
                                    <input ng-model="ctrl.AreaInt" id="AreaInt" name="AreaInt" type="text" ng-change="ctrl.GlobalInfoPersonal()" class="form-control" placeholder="Área de Interes" aria-label="ÁreaInteres" aria-describedby="basic-addon1" style="max-width:100%" maxlength="1000" required>
                                </div>
                                <span style="color:red" ng-show="myForm.AreaInt.$invalid" />
                                <span ng-show="myForm.AreaInt.$error.required">*Área de Interes requerida (Max. 1000 caracteres)</span>
                            </div>
                            <div class="col-md-12 py-2">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Objetivo Personal</span>
                                    </div>
                                    <textarea ng-model="ctrl.ObjPersonal" id="ObjPersonal" name="ObjPersonal" type="text" ng-change="ctrl.GlobalInfoPersonal()" class="form-control" aria-label="ObjetivoPersonal" aria-describedby="basic-addon1" style="max-width:100%; max-height:70%; min-height:70%" maxlength="2000" required></textarea>
                                </div>
                                <span style="color:red" ng-show="myForm.ObjPersonal.$invalid" />
                                <span ng-show="myForm.ObjPersonal.$error.required">*Objetivo Personal requerido (Max. 2000 caracteres)</span>
                            </div>
                            <div class="col-md-1">
                                <input id="btninformacionCandidato" type="button" class="btn btn-info" value="Continuar"
                                       ng-disabled="myForm.Matricula.$invalid || myForm.NombreCandidato.$invalid || myForm.ApePatCandidato.$invalid
                                       || myForm.ApeMatCandidato.$invalid || myForm.FecNac.$invalid || myForm.Estado.$invalid
                                       || myForm.Municipio.$invalid || myForm.Domicilio.$invalid || myForm.TelCel.$invalid|| myForm.TelAd.$invalid
                                       || myForm.Email.$invalid|| myForm.AreaInt.$invalid|| myForm.ObjPersonal.$invalid"
                                       ng-click="ctrl.GuardarInformacionCandidato()" />
                            </div>

                        </div>
                    </form>
                </div>

                <div class="tab-pane fade" id="estAcad" role="tabpanel" aria-labelledby="profile-tab">
                    <form name="myForm2">
                        <div class="row">

                            <div class="col-md-6 py-3">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Institución</span>
                                    </div>
                                    <select class="custom-select" style="max-width:100%" ng-model="ctrl.instExt" ng-change="ctrl.GlobalInfoAcademica(); ctrl.TipoInstitucionEducativa()">
                                        <option value="001UN">UNACH</option>
                                        <option value="002EXT">OTRA</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6 py-3">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Grado de Estudios</span>
                                    </div>
                                    <select name="GradoEst" id="GradoEst" ng-model="ctrl.GradoEst" ng-change="ctrl.GlobalInfoAcademica()" class="custom-select" ng-options="list.Id as list.Descripcion for list in ctrl.listGradoEstudios" style="max-width:100%" required></select>
                                </div>
                                <span style="color:red" ng-show="myForm2.GradoEst.$invalid" />
                                <span ng-show="myForm2.GradoEst.$error.required">*Grado de Estudios requerido</span>
                            </div>


                            <div id="estInt" class="col-md-6 py-3">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Carrera</span>
                                    </div>
                                    <select ng-model="ctrl.Carrera" id="Carrera" name="Carrera" ng-change="ctrl.GlobalInfoAcademica()" class="custom-select" ng-options="list.Id as list.Descripcion for list in ctrl.listCarreras" style="max-width:100%" required></select>
                                </div>
                                <span style="color:red" ng-show="myForm2.Carrera.$invalid" />
                                <span ng-show="myForm2.Carrera.$error.required">*Carrera requerida</span>
                            </div>

                            <div id="estExt" class="col-md-6 py-3" style="display:none">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Carrera</span>
                                    </div>
                                    <input ng-model="ctrl.CarreraExt" id="CarreraExt" name="CarreraExt" type="text" ng-change="ctrl.GlobalInfoAcademica()" class="form-control" placeholder="" aria-label="NombreCarreraExt" aria-describedby="basic-addon1" style="max-width:100%" required />
                                </div>
                                <span style="color:red" ng-show="myForm2.CarreraExt.$invalid" />
                                <span ng-show="myForm2.CarreraExt.$error.required">*Carrera requerida</span>
                            </div>

                            <div class="col-md-6 py-3">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Institución Educativa</span>
                                    </div>
                                    <input ng-model="ctrl.NombEsc" id="NombEsc" name="NombEsc" type="text" ng-change="ctrl.GlobalInfoAcademica()" class="form-control" placeholder="Ejmp. UNACH" aria-label="NombreInstituciónEducativa" aria-describedby="basic-addon1" style="max-width:100%" maxlength="200" required>
                                </div>
                                <span style="color:red" ng-show="myForm2.NombEsc.$invalid" />
                                <span ng-show="myForm2.NombEsc.$error.required">*Institución Educativa requerida</span>
                            </div>
                            <div class="col-md-12 py-3">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Área de Conocimientos</span>
                                    </div>
                                    <select ng-model="ctrl.AreaConoc" id="AreaConoc" name="AreaConoc" ng-change="ctrl.GlobalInfoAcademica()" class="custom-select" ng-options="list.Id as list.Descripcion for list in ctrl.listAreaConocimiento" style="max-width:36.8%" required></select>
                                </div>
                                <span style="color:red" ng-show="myForm2.AreaConoc.$invalid" />
                                <span ng-show="myForm2.AreaConoc.$error.required">*Área requerida</span>
                            </div>
                            <div class="col-md-6 py-3">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Fecha Inicio</span>
                                    </div>
                                    <input ng-model="ctrl.FechaIniCarrera" id="FechaIniCarrera" name="FechaIniCarrera" type="date" lang="es-mx" ng-change="ctrl.GlobalInfoAcademica()" class="form-control" aria-label="FechaInicio" aria-describedby="basic-addon1" style="max-width:100%" required>
                                </div>
                                <span style="color:red" ng-show="myForm2.FechaIniCarrera.$invalid" />
                                <span ng-show="myForm2.FechaIniCarrera.$error.required">*Fecha Inicio requerida</span>
                            </div>
                            <div class="col-md-6 py-3">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Fecha Fin</span>
                                    </div>
                                    <input ng-model="ctrl.FechaFinCarrera" name="FechaFinCarrera" id="FechaFinCarrera" type="date" lang="es-mx" ng-change="ctrl.GlobalInfoAcademica()" class="form-control" aria-label="FechaFin" aria-describedby="basic-addon1" style="max-width:100%" required>
                                </div>
                                <span style="color:red" ng-show="myForm2.FechaFinCarrera.$invalid" />
                                <span ng-show="myForm2.FechaFinCarrera.$error.required">*Fecha Fin requerida</span>
                            </div>

                            <div class="col-md-2 py-2">
                                <input id="datosAcademicos" type="button" class="btn btn-success" value="Guardar Datos Academicos"
                                       ng-disabled="myForm2.GradoEst.$invalid || myForm2.NombEsc.$invalid
                                       || myForm2.Carrera.$invalid || myForm2.AreaConoc.$invalid
                                       || myForm2.FechaIniCarrera.$invalid || myForm2.FechaFinCarrera.$invalid || myForm2.CarreraExt.$invalid" ng-click="ctrl.GuardarEstudiosAcademicos()" />
                            </div>
                            <div class="col-md-10">

                            </div>

                            <div class="col-md-12 py-2">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Grado de estudio</th>
                                            <th scope="col">Institución</th>
                                            <th scope="col">Carrera</th>
                                            <th scope="col">Principal</th>
                                            <th scope="col">Eliminar</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="list in ctrl.listEstAcadGuardados">
                                        <tr>
                                            <td>{{list.Descripcion}}</td>
                                            <td>{{list.Institucion}}</td>
                                            <td>{{list.Carrera}}</td>
                                            <td><i data-toggle="tooltip" title="¿Convertir {{list.Carrera}} en Principal?"><a class="{{list.IsPrincipal}}" id="{{list.Posicion}}" ng-click="ctrl.GuardarIdCarrera(list.Id_Carrera, list.Carrera)" data-toggle="modal" data-target="#estudiosModal"></a></i></td>
                                            <td><a class="fas fa-trash" ng-click="ctrl.EliminarEstudioAcademico(list.Posicion)"></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-md-1 py-3">
                                <input id="btnDatosContactoRegrear" type="button" class="btn btn-info" value="Regresar" />
                            </div>
                            <div class="col-md-9 py-3">
                            </div>
                            <div class="col-md-1 py-3">
                                <input id="btnDatosContactoContinuar" type="button" class="btn btn-info" value="Continuar" />
                            </div>

                        </div>
                    </form>
                </div>

                <div class="tab-pane fade" id="softIdio" role="tabpanel" aria-labelledby="contact-tab">
                    <form name="myForm3">
                        <div class="row">
                            <div class="col-md-6 py-2">
                                <div class="input-group mb-3 ">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Software</span>
                                    </div>
                                    <input id="Software" name="Software" ng-model="ctrl.Software" type="text" ng-change="" class="form-control" placeholder="Software" aria-label="Software" aria-describedby="basic-addon1" style="max-width:100%" maxlength="500" required>
                                </div>
                                @*<span style="color:red" ng-show="myForm3.Software.$invalid" />
                                    <span ng-show="myForm3.Software.$error.required">*R requerida</span>*@
                            </div>
                            <div class="col-md-6 py-2">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Nivel Software</span>
                                    </div>
                                    <select ng-model="ctrl.NivelSoftware" id="NivelSoftware" name="NivelSoftware" ng-change="" class="custom-select" ng-options="list.Id as list.Descripcion for list in ctrl.listNivelSoftware" style="max-width:100%" required></select>
                                </div>
                                @*<span style="color:red" ng-show="myForm3.Contrasena2.$invalid" />
                                    <span ng-show="myForm3.Contrasena2.$error.required">*Razón social requerida</span>*@
                            </div>

                            <div class="col-md-2">
                                <input type="button" class="btn btn-success" value="Agregar Software" ng-click="ctrl.GuardarSoftware()" />
                            </div>

                            <div class="col-md-12 py-2">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Software</th>
                                            <th scope="col">Nivel</th>
                                            <th scope="col">Eliminar</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="list in ctrl.listSoftware">
                                        <tr>
                                            <td>{{list.Descripcion}}</td>
                                            <td>{{list.Subtipo}}</td>
                                            <td><a class="fas fa-trash" ng-click="ctrl.EliminarSoftware(list.Posicion)"></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                            <div class="col-md-6 py-2">
                                <div class="input-group mb-3 ">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Idioma</span>
                                    </div>
                                    <input id="Idioma" name="Idioma" ng-model="ctrl.Idioma" type="text" ng-change="" class="form-control" placeholder="Idioma" aria-label="Idioma" aria-describedby="basic-addon1" style="max-width:100%" maxlength="500" required>
                                </div>
                                @*<span style="color:red" ng-show="myForm3.Software.$invalid" />
                                    <span ng-show="myForm3.Software.$error.required">*R requerida</span>*@
                            </div>
                            <div class="col-md-6 py-2">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Nivel Idioma</span>
                                    </div>
                                    <select ng-model="ctrl.NivelIdioma" id="NivelIdioma" name="NivelIdioma" ng-change="" class="custom-select" ng-options="list.Id as list.Descripcion for list in ctrl.listNivelIdioma" style="max-width:100%" required></select>
                                </div>
                                @*<span style="color:red" ng-show="myForm3.Contrasena2.$invalid" />
                                    <span ng-show="myForm3.Contrasena2.$error.required">*Razón social requerida</span>*@
                            </div>

                            <div class="col-md-2">
                                <input type="button" class="btn btn-success" value="Agregar Idioma" ng-click="ctrl.GuardarIdioma()" />
                            </div>

                            <div class="col-md-12 py-2">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Idioma</th>
                                            <th scope="col">Nivel</th>
                                            <th scope="col">Eliminar</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="list in ctrl.listIdioma">
                                        <tr>
                                            <td>{{list.Descripcion}}</td>
                                            <td>{{list.Subtipo}}</td>
                                            <td><a class="fas fa-trash" ng-click="ctrl.EliminarIdioma(list.Posicion)"></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-md-1">
                                <input id="btnInfoSotIdioRegresar" type="button" class="btn btn-info" value="Regresar" />
                            </div>
                            <div class="col-md-9">

                            </div>
                            <div class="col-md-1">
                                <input id="btninfoSoftIdioContinuar" type="button" class="btn btn-info" value="Continuar" />
                            </div>
                        </div>
                    </form>
                </div>

                <div class="tab-pane fade" id="expProf" role="tabpanel" aria-labelledby="contact-tab">
                    <form name="myForm3">
                        <div class="row">
                            <div class="col-md-12 py-2">
                                <div class="input-group mb-3 ">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Nombre de la Empresa</span>
                                    </div>
                                    <input id="NombreEmpresa" name="NombreEmpresa" ng-model="ctrl.NombreEmpresa" type="text" ng-change="ctrl.GlobalExpProf()" class="form-control" placeholder="Nombre de la Empresa" aria-label="NombreEmpresa" aria-describedby="basic-addon1" style="max-width:100%" maxlength="200" required>
                                </div>
                                <span style="color:red" ng-show="myForm3.NombreEmpresa.$invalid" />
                                <span ng-show="myForm3.NombreEmpresa.$error.required">*Nombre de la Empresa requerida</span>
                            </div>
                            <div class="col-md-6 py-2">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Fecha Inicio</span>
                                    </div>
                                    <input id="FechaIniExpProf" name="FechaIniExpProf" ng-model="ctrl.FechaIniExpProf" type="date" ng-change="ctrl.GlobalExpProf()" class="form-control" aria-label="FechaInicioExpProf" aria-describedby="basic-addon1" style="max-width:100%" required>
                                </div>
                                <span style="color:red" ng-show="myForm3.FechaIniExpProf.$invalid" />
                                <span ng-show="myForm3.FechaIniExpProf.$error.required">*Fecha Inicio requerida</span>
                            </div>
                            <div class="col-md-6 py-2">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Fecha Fin</span>
                                    </div>
                                    <input id="FechaFinExpProf" name="FechaFinExpProf" ng-model="ctrl.FechaFinExpProf" type="date" ng-change="ctrl.GlobalExpProf()" class="form-control" aria-label="FechaFinExpProf" aria-describedby="basic-addon1" style="max-width:100%" required>
                                </div>
                                <span style="color:red" ng-show="myForm3.FechaFinExpProf.$invalid" />
                                <span ng-show="myForm3.FechaFinExpProf.$error.required">*Fecha Fin requerida</span>
                            </div>
                            <div class="col-md-12 py-2">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Puesto / Actividades que Desempeñaba</span>
                                    </div>
                                    <textarea id="DescAct" name="DescAct" ng-model="ctrl.DescAct" type="text" ng-change="ctrl.GlobalExpProf()" class="form-control" placeholder="Descripcion de Activades Realizadas" aria-label="DescripcionActividades" aria-describedby="basic-addon1" style="max-width:100%; min-height:30%;  max-height:30%" rows="7" maxlength="200" required></textarea>
                                </div>
                                <span style="color:red" ng-show="myForm3.DescAct.$invalid" />
                                <span ng-show="myForm3.DescAct.$error.required">*Puesto / Actividades requerido</span>
                            </div>
                            <div class="col-md-12 py-2">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Nombre del Contacto / Teléfono</span>
                                    </div>
                                    <input id="ReferenciaTrabajo" name="ReferenciaTrabajo" ng-model="ctrl.ReferenciaTrabajo" type="text" ng-change="ctrl.GlobalExpProf()" class="form-control" placeholder="Nombre del Contacto / Teléfono" aria-label="ReferenciaTrabajo" aria-describedby="basic-addon1" style="max-width:100%" maxlength="50" required>
                                </div>
                                <span style="color:red" ng-show="myForm3.ReferenciaTrabajo.$invalid" />
                                <span ng-show="myForm3.ReferenciaTrabajo.$error.required">*Datos de Contato requeridos</span>
                            </div>
                            <div class="col-md-12">
                                <input type="button" class="btn btn-success" value="Guardar" ng-click="ctrl.GuardarExperienciaProfesional()"
                                       ng-disabled="myForm3.NombreEmpresa.$invalid || myForm3.FechaIniExpProf.$invalid|| myForm3.FechaFinExpProf.$invalid
                                       || myForm3.DescAct.$invalid || myForm3.ReferenciaTrabajo.$invalid" />
                            </div>
                            <div class="col-md-12 py-2">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Empresa</th>
                                            <th scope="col">Contacto</th>
                                            <th scope="col">Eliminar</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="list in ctrl.listExperienciaProf">
                                        <tr>
                                            <td>{{list.Institucion}}</td>
                                            <td>{{list.Contacto}}</td>
                                            <td><a class="fas fa-trash" ng-click="ctrl.EliminarExperienciaProfesional(list.Posicion)"></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-1">
                                <input id="btninfoExpProfRegrear" type="button" class="btn btn-info" value="Regresar" />
                            </div>
                            <div class="col-md-9">

                            </div>
                            <div class="col-md-1">
                                <input id="btninfoExpProfContinuar" type="button" class="btn btn-info" value="Continuar" />
                            </div>
                        </div>
                    </form>
                </div>

                <div class="tab-pane fade" id="curTall" role="tabpanel" aria-labelledby="contact-tab">
                    <form name="myForm4">
                        <div class="row">
                            <div class="col-md-6 py-2">
                                <div class="input-group mb-3 ">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Nombre del Curso / Taller</span>
                                    </div>
                                    <input id="CursoTaller" name="CursoTaller" ng-model="ctrl.CursoTaller" type="text" ng-change="" class="form-control" placeholder="Curso / Taller" aria-label="CursoTaller" aria-describedby="basic-addon1" style="max-width:100%" maxlength="500" required>
                                </div>
                                <span style="color:red" ng-show="myForm4.CursoTaller.$invalid" />
                                <span ng-show="myForm4.CursoTaller.$error.required">*Curso o Taller requerido</span>
                            </div>
                            <div class="col-md-6 py-2">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Tipo</span>
                                    </div>
                                    <select name="TipoCurso" id="TipoCurso" ng-model="ctrl.TipoCurso" ng-change="" class="custom-select" ng-options="list.Id as list.Descripcion for list in ctrl.listTipoCurso" style="max-width:100%" required></select>
                                </div>
                                <span style="color:red" ng-show="myForm4.TipoCurso.$invalid" />
                                <span ng-show="myForm4.TipoCurso.$error.required">*Tipo de Curso requerido</span>
                            </div>
                            <div class="col-md-12 py-2">
                                <div class="input-group mb-3 ">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Institución</span>
                                    </div>
                                    <input id="InstTaller" name="InstTaller" ng-model="ctrl.InstTaller" type="text" ng-change="" class="form-control" placeholder="Institución" aria-label="InstTaller" aria-describedby="basic-addon1" style="max-width:100%" maxlength="200" required>
                                </div>
                                <span style="color:red" ng-show="myForm4.InstTaller.$invalid" />
                                <span ng-show="myForm4.InstTaller.$error.required">*Institución requerida</span>
                            </div>
                            <div class="col-md-6 py-2">
                                <div class="input-group mb-3 ">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Fecha Incio del Curso</span>
                                    </div>
                                    <input id="FecIniCur" name="FecIniCur" ng-model="ctrl.FecIniCur" type="date" ng-change="" class="form-control" aria-label="FecIniCur" aria-describedby="basic-addon1" style="max-width:100%" required>
                                </div>
                                <span style="color:red" ng-show="myForm4.FecIniCur.$invalid" />
                                <span ng-show="myForm4.FecIniCur.$error.required">*Fecha Inicio requerida</span>
                            </div>
                            <div class="col-md-6 py-2">
                                <div class="input-group mb-3 ">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Fecha Fin del Curso</span>
                                    </div>
                                    <input id="FecFinCur" name="FecFinCur" ng-model="ctrl.FecFinCur" type="date" ng-change="" class="form-control" aria-label="FecFinCur" aria-describedby="basic-addon1" style="max-width:100%" required>
                                </div>
                                <span style="color:red" ng-show="myForm4.FecFinCur.$invalid" />
                                <span ng-show="myForm4.FecFinCur.$error.required">*Fecha Fin requerida</span>
                            </div>
                            <div class="col-md-12">
                                <input type="button" class="btn btn-success" value="Guardar" ng-click="ctrl.GuardarCursoTaller()"
                                       ng-disabled="myForm4.CursoTaller.$invalid || myForm4.TipoCurso.$invalid|| myForm4.InstTaller.$invalid
                                       || myForm4.FecIniCur.$invalid || myForm4.FecFinCur.$invalid"/>
                            </div>

                            <div class="col-md-12 py-2">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Curso / Taller</th>
                                            <th scope="col">Institución</th>
                                            <th scope="col">Eliminar</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="list in ctrl.listCursoTaller">
                                        <tr>
                                            <td>{{list.Descripcion}}</td>
                                            <td>{{list.Institucion}}</td>
                                            <td><a class="fas fa-trash" ng-click="ctrl.EliminarCursoTaller(list.Posicion)"></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-1">
                                <input id="btninfoCursosRegresar" type="button" class="btn btn-info" value="Regresar" />
                            </div>
                            <div class="col-md-9">

                            </div>
                            <div class="col-md-1">
                                <input id="guardarDatosCandidato" type="button" class="btn btn-info" value="Guardar" ng-click="ctrl.GuardarDatosCandidato()" />
                                <input id="editarDatosCandidato" type="button" class="btn btn-info" value="Guardar" ng-click="ctrl.EditarInfoGeneralCandidato()"style="display:none" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--Modal estudios principales-->
        <div class="modal fade" id="estudiosModal" tabindex="-1" role="dialog" aria-labelledby="estudiosModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Estudios Principales</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label>¿Establecer {{ctrl.CarreraPrincipal}} como estudios principales?</label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-primary" ng-click="ctrl.EditarPrincipalEstAcad()">Si</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script src="~/Scripts/funcionesDatosCandidatos.js"></script>

@*<script type="text/javascript">
        jQuery(function ($) {
            $.datepicker.regional['es'] = {
                closeText: 'Cerrar',
                prevText: '&#x3c;Ant',
                nextText: 'Sig&#x3e;',
                currentText: 'Hoy',
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
                    'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun',
                    'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Mi&eacute;rcoles', 'Jueves', 'Viernes', 'S&aacute;bado'],
                dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mi&eacute;', 'Juv', 'Vie', 'S&aacute;b'],
                dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'S&aacute;'],
                weekHeader: 'Sm',
                dateFormat: 'dd/mm/yy',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: '',
                useCurrent: true
            };
            $.datepicker.setDefaults($.datepicker.regional['es']);
        });
        $('#FecNac').datepicker();
        $('#fechaIniCarreaAlumno').datepicker();
        $('#fechaEgresoCarreaAlumno').datepicker();
        $('#fecIniExpAlumno').datepicker();
        $('#fecFinExpAlumno').datepicker();
        $('#fecIniCursoTallerAlumno').datepicker();
        $('#fecFinCursoTallerAlumno').datepicker();
    </script>*@

<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>