-
@{
    ViewBag.Title = "PanelAdministrador";
    Layout = "~/Views/Shared/_LayoutSesion.cshtml";
}


    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-md-2" ng-init="ctrl.CargarDatosPrincipalesPanelAdmin()">
            <div class="col-md-2 py-5">
                <ul class="list-group">
                    <li id="" class="list-group-item d-flex justify-content-between align-items-center" style="background-color:forestgreen" ng-repeat="x in ctrl.listEmpresas_Status">
                        <span id="">{{x.Status}} : {{x.Total}}</span>
                        <span class="badge badge-primary badge-pill">
                            <i id="infemp1" class="fas fa-eye"></i>
                        </span>
                    </li>
                    <li id="" class="list-group-item d-flex justify-content-between align-items-center" style="background-color:forestgreen" ng-repeat="x in ctrl.listCandidatos_Status">
                        <span id="">{{x.Status}} : {{x.Total}}</span>
                        <span class="badge badge-primary badge-pill">
                            <i id="infemp1" class="fas fa-check-circle"></i>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 py-5">
                <div class="card card border-success">
                    <div class="card-body">
                        <i class="fas fa-city fa-3x"></i>
                        <h5 class="card-title">Empresas.</h5>
                        <p class="card-text">En esta sección podrás las empresas registradas, para poder verlas da click en el botón "Ver Empresas Registradas".</p>
                        <p class="card-text"><small class="text-muted">Número de empresas registradas: {{ctrl.TotalEmpresas}}.</small></p>
                        <input type="button" class="btn btn-success" value="Ver Empresas Registradas" ng-click="ctrl.ObtenerGridEmpresasRegistradas()" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 py-5">
                <div class="card card border-info">
                    <div class="card-body">
                        <i class="fas fa-user-graduate fa-3x"></i>
                        <h5 class="card-title">Candidatos.</h5>
                        <p class="card-text">En esta sección podrás los candidatos registrados, para poder verlos da click en el botón "Ver Candidatos Registrados".</p>
                        <p class="card-text"><small class="text-muted">Total de candidatos registrados {{ctrl.TotalCandReg}}.</small></p>
                        <input type="button" class="btn btn-success" value="Ver Candidatos Registrados" ng-click="ctrl.ObtenerGridCandidatosRegistrados()" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-5">
            <div class="col-md-2">
            </div>
            <div class="col-md-3" id="cargarTabla" style="display:none">
            </div>
            <div id="buscandoEmpresa" class="col-md-7" style="display:none">
                <div class="spinner-grow text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-success" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-warning" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-danger" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div id="containerTable" class="col-md-9" style="overflow-x:scroll; display:none">
                <table class="dataTable table table-striped" id="tablaEmpresas" style="display:none;width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th scope="col">Razón Social</th>
                            <th scope="col">Nombre Comercial</th>
                            <th scope="col">Actividad</th>
                            <th scope="col">Rfc</th>
                            <th scope="col">Status</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody @*ng-repeat="x in ctrl.ListaCandidatosDisponibles"*@>
                        @*<tr>
                            <td>{{x.Nombre}}</td>
                            <td>{{x.Celular}}</td>
                            <td>{{x.Correo}}</td>
                            <td>{{x.Genero}}</td>
                            <td>{{x.Edad}}</td>
                            <td></td>
                            <td><i ng-click="ctrl.GenerarCurriculum(x.Id)" class="fas fa-file-alt"></i></td>
                            <td><span data-toggle="modal" data-target="#modalStatusVacante"><i data-toggle="tooltip" data-placement="top" title="Cambiar estatus candidato" class="fas fa-pencil-alt" ng-click="ctrl.GuardarIdCandidato(x.Id, x.Vacante, x.IdCv)"></i></span></td>
                        </tr>*@
                    </tbody>
                </table>
                <table class="dataTable table table-striped" id="tablaCandidatos" style="display:none;width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th scope="col">Matricula</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Celular</th>
                            <th scope="col">Estatus</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody @*ng-repeat="x in ctrl.ListaCandidatosDisponibles"*@>
                        @*<tr>
                            <td>{{x.Nombre}}</td>
                            <td>{{x.Celular}}</td>
                            <td>{{x.Correo}}</td>
                            <td>{{x.Genero}}</td>
                            <td>{{x.Edad}}</td>
                            <td></td>
                            <td><i ng-click="ctrl.GenerarCurriculum(x.Id)" class="fas fa-file-alt"></i></td>
                            <td><span data-toggle="modal" data-target="#modalStatusVacante"><i data-toggle="tooltip" data-placement="top" title="Cambiar estatus candidato" class="fas fa-pencil-alt" ng-click="ctrl.GuardarIdCandidato(x.Id, x.Vacante, x.IdCv)"></i></span></td>
                        </tr>*@
                    </tbody>
                </table>

            </div>



            <div id="modalIntVac" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Candidatos Interesados</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-striped" id="tablaVacApliEmpresa">
                                <thead>
                                    <tr>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Estatus</th>
                                        <th scope="col">Edad</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="x in ctrl.listInteresadosVac">
                                    <tr>
                                        <td>{{x.Nombre}}</td>
                                        <td>{{x.Status}}</td>
                                        <td>{{x.Fecha_Nacimiento}}</td>
                                        <td><i data-toggle="tooltip" data-placement="top" title="Ver Cv" ng-click="ctrl.GenerarCurriculum(x.Id)" class="fas fa-file-alt"></i></td>
                                        <td><span data-toggle="modal" data-target="#modalStatusCandidato"><i data-toggle="tooltip" data-placement="top" title="Cambiar estatus candidato" class="fas fa-pencil-alt" ng-click="ctrl.GuardarIdCandidatoInteresado(x.Id_Vac_Cand, x.Id, x.Correo)"></i></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modalStatusEmpresa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Cambiar Estatus a la Empresa</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Estatus</label>
                                </div>
                                <select ng-model="ctrl.statusEmpresa" class="custom-select" id="statusVacante">
                                    <option value="A">Activar</option>
                                    <option value="R">Pendiente por Activar</option>
                                    <option value="B">Baja Temporal</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Observaciones</label>
                                <textarea ng-model="ctrl.observacionesStatus" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button ng-click="ctrl.EditarStatusEmpresa()" type="button" class="btn btn-primary">Cambiar estatus</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modalStatusCandidato" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Cambiar Estatus al Candidato</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Estatus</label>
                                </div>
                                <select ng-model="ctrl.statusCandidato" class="custom-select" id="statusVacante">
                                    <option value="A">Activar</option>
                                    <option value="R">Pendiente por Activar</option>
                                    <option value="B">Baja Temporal</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button ng-click="ctrl.EditarStatusCandidato()" type="button" class="btn btn-primary">Cambiar estatus</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modalVacantesEmpresa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Vacantes Empresa</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-striped" id="">
                                <thead>
                                    <tr>
                                        <th scope="col">Vacante</th>
                                        <th scope="col"># Vacantes</th>
                                        <th scope="col">Inicio</th>
                                        <th scope="col">Fin</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="x in ctrl.listVacantesEmpresa">
                                    <tr>
                                        <td>{{x.Nombre}}</td>
                                        <td>{{x.Total}}</td>
                                        <td>{{x.Vigencia_Inicio}}</td>
                                        <td>{{x.Vigencia_Fin}}</td>
                                        <td>{{x.Id}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modalStausVacantesCand" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Vacantes Empresa</h5>
                        </div>
                        <div class="modal-body">
                            <table class="table table-striped" id="">
                                <thead>
                                    <tr>
                                        <th scope="col">Vacante</th>
                                        <th scope="col">Estatus</th>
                                        <th scope="col">Empresa</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="x in ctrl.listStatusVacanCand">
                                    <tr>
                                        <td>{{x.Nombre}}</td>
                                        <td>{{x.Status}}</td>
                                        <td>{{x.Razon_social}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modalCargandoSolicitud" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog" role="document">
                    <div class="modal-content text-center">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Realizando Solicitud</h5>
                        </div>
                        <div class="modal-body">
                            <div id="cargandoPanelEmpresa" class="col-md-12">
                                <div class="spinner-grow text-primary" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <div class="spinner-grow text-success" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <div class="spinner-grow text-warning" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <div class="spinner-grow text-danger" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





        </div>
    </div>

    


