.user {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.fotoPerilCv {
    cursor: pointer;
    /* Style as you please, it will become the visible UI component. */
}

#cargarFoto {
    opacity: 0;
    position: absolute;
    z-index: -1;
}