
@{
    ViewBag.Title = "PanelCandidato";
}
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col-md-2">
        </div>
        <div class=" col-md-4 py-5">
            <div class="card card border-success">
                <div class="card-body">
                    <i class="fas fa-file-contract fa-3x"></i>
                    <h5 class="card-title">Vacantes Disponibles.</h5>
                    <p class="card-text">En esta sección podrás ver las vacantes publicadas por las empresas registradas, para poder verlas da click en el botón de "Ver vacantes".</p>
                    <p class="card-text"><small class="text-muted">Número de vacantes registradas: 35.</small></p>
                    <input type="button" class="btn btn-success" value="Ver Vacantes" />
                </div>
            </div>
        </div>
        <div class="col-md-4 py-5">
            <div class="card card border-info">
                <div class="card-body">
                    <i class="fas fa-address-card fa-3x"></i>
                    <h5 class="card-title">Información de tu Cv.</h5>
                    <p class="card-text">La información de tu curriculum puede ser modificada si lo deseas presionando el  botón que está abajo.</p>
                    <p class="card-text"><small class="text-muted">El usuario está en estatus activo.</small></p>
                    <input ng-model="ctrl.IdUsuario" type="button" class="btn btn-success" value="Ver Información del Curriculum" ng-click="ctrl.GuardarIdCv(ctrl.IdUsuario)" />
                </div>
            </div>
        </div>
    </div>