
@{
    ViewBag.Title = "Panel Empresa";
}

    <div class="row row-cols-1 row-cols-md-2" ng-init="ctrl.CargarDatosPanelEmpresa()">
        <div class="col-md-2">
        </div>
        <div class=" col-md-4 py-5">
            <div class="card card border-success">
                <div class="card-body">
                    <i class="fas fa-address-card fa-3x"></i>
                    <h5 class="card-title">Datos Generales.</h5>
                    <p class="card-text">En está sección podrá ver los datos de su empresa.</p>
                    <input ng-model="ctrl.IdEmpresa" type="button" class="btn btn-info" value="Ver Datos Generales" ng-click="ctrl.VerDatosEmpresa(ctrl.IdEmpresa)" />
                </div>
            </div>
        </div>
        <div class="col-md-4 py-5">
            <div class="card card border-info">
                <div class="card-body">
                    <i class="fas fa-file-contract fa-3x"></i>
                    <h5 class="card-title">Vacantes.</h5>
                    <p class="card-text">En está sección podrá publicar vacantes y ver las vacantes publicadas.</p>
                    <input type="button" class="btn btn-info" value="Ver Vacantes" ng-click="ctrl.VerVacantesEmpresa()" />
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-4 ">
            <div class="card card border-info">
                <div class="card-body">
                    <i class="fas fa-id-badge fa-3x"></i>
                    <h5 class="card-title">Candidatos Interesados.</h5>
                    <p class="card-text">En esta sección podrá ver los candidatos que han aplicado a las vacantes que ha publicado.</p>
                    <input type="button" class="btn btn-info" value="Ver Candidatos Interesados" />
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="card card border-success">
                <div class="card-body">
                    <i class="fas fa-user-check fa-3x"></i>
                    <h5 class="card-title">Ver Candidatos Disponibles.</h5>
                    <p class="card-text">En esta sección podrá ver los candidatos que no han aplicado a sus vacantes y que le podría interesar.</p>
                    <input type="button" class="btn btn-info" value="Candidatos Disponibles" />
                </div>
            </div>
        </div>

        <table class="dataTable table table-striped" id="tablaVacantesEmpresa" style="font-size:85%">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Total</th>
                    <th scope="col">Edad Min.</th>
                    <th scope="col">Edad Max.</th>
                    <th scope="col">Salario</th>
                    <th></th>
                    <th></th>                    
                </tr>
            </thead>
            <tbody @*ng-repeat="x in ctrl.ListaCandidatosDisponibles"*@>
                @*<tr>
                    <td>{{x.Nombre}}</td>
                    <td>{{x.Celular}}</td>
                    <td>{{x.Correo}}</td>
                    <td>{{x.Genero}}</td>
                    <td>{{x.Edad}}</td>
                    <td></td>
                    <td><i ng-click="ctrl.GenerarCurriculum(x.Id)" class="fas fa-file-alt"></i></td>
                    <td><span data-toggle="modal" data-target="#modalStatusVacante"><i data-toggle="tooltip" data-placement="top" title="Cambiar estatus candidato" class="fas fa-pencil-alt" ng-click="ctrl.GuardarIdCandidato(x.Id, x.Vacante, x.IdCv)"></i></span></td>
                </tr>*@
            </tbody>
        </table>

    </div>