
@{
    ViewBag.Title = "PanelCandidato";
}
    <div class="row row-cols-1 row-cols-md-2" ng-init="ctrl.DatosPanelCandidato()">
        <div class="col-md-2 py-5">
            <ul class="list-group">
                <li id="" class="list-group-item d-flex justify-content-between align-items-center" style="background-color:forestgreen">
                    <span id="">Invitado: {{ctrl.StatusInv}}</span>
                    <span class="badge badge-primary badge-pill">
                        <i id="infemp1" class="fas fa-eye"></i>
                    </span>
                </li>
                <li id="" class="list-group-item d-flex justify-content-between align-items-center"style="background-color:forestgreen">
                    <span id="">Interesado: {{ctrl.StatusInt}}</span>
                    <span class="badge badge-primary badge-pill">
                        <i id="infemp1" class="fas fa-check-circle"></i>
                    </span>
                </li>
                <li id="" class="list-group-item d-flex justify-content-between align-items-center"style="background-color:lightgoldenrodyellow">
                    <span id="">Entrevista: {{ctrl.StatusEnt}}</span>
                    <span class="badge badge-primary badge-pill">
                        <i id="infemp1" class="fas fa-check"></i>
                    </span>
                </li>
                <li id="" class="list-group-item d-flex justify-content-between align-items-center" style="background-color:palegoldenrod">
                    <span id="">Aceptado: {{ctrl.StatusAcep}}</span>
                    <span class="badge badge-primary badge-pill">
                        <i id="infemp1" class="fas fa-thumbs-up"></i>
                    </span>
                </li>
                <li id="" class="list-group-item d-flex justify-content-between align-items-center">
                    <span id="">No cubre el perfil: {{ctrl.StatusRec}}</span>
                    <span class="badge badge-primary badge-pill">
                        <i id="infemp1" class="fas fa-exclamation-circle"></i>
                    </span>
                </li>
            </ul>
        </div>
        <div class=" col-md-4 py-5">
            <div class="card card border-success">
                <div class="card-body">
                    <i class="fas fa-file-contract fa-3x"></i>
                    <h5 class="card-title">Vacantes Disponibles.</h5>
                    <p class="card-text">En esta sección podrás ver las vacantes publicadas por las empresas registradas, para poder verlas da click en el botón de "Ver vacantes".</p>
                    <p class="card-text"><small id="totalVac" class="text-muted" style="display:none">Número de vacantes en el sistema: {{ctrl.TotalVac}}.</small></p>
                    <input type="button" class="btn btn-success" value="Ver Vacantes" />
                </div>
            </div>
        </div>
        <div class="col-md-4 py-5">
            <div class="card card border-info">
                <div class="card-body">
                    <i class="fas fa-address-card fa-3x"></i>
                    <h5 class="card-title">Información de tu Cv.</h5>
                    <p ng-model="ctrl.Registrado" class="card-text">La información de tu curriculum puede ser modificada si lo deseas presionando el  botón que está abajo.</p>
                    <p ng-model="ctrl.Matricula" class="card-text"><small id="statusCand" style="display:none" class="text-muted">El usuario está en estatus {{ctrl.StatusCand}}.</small></p>
                    <input ng-model="ctrl.IdUsuario" type="button" class="btn btn-success" value="Ver Información del Curriculum" ng-click="ctrl.GuardarIdCv(ctrl.IdUsuario, ctrl.Matricula, ctrl.Registrado)" />
                </div>
            </div>
        </div>
    </div>